.links{
    font-size: 20px;
    display: flex;
    gap: 50px;
    margin-left: 100px;
}
body{
    background-color: #0D2448;
}
.logo{
    width: 200px;
    margin-left: 200px;
    height: auto;
    
    
    
}
h1{
    font-size: 90px;
    color: #55D4A3;
    font-weight: 700;

   
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: 400;
}
.text1{
    margin-left: 110px;
    margin-top: -10px;
    width: 50%;
    color: whitesmoke;
    font-size: 25px;
   
}
.header{
    display: flex;
    margin-left: -115px;
}
.hero{
    width: 90%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 100px;


    
     
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.fish{
    margin-top: -500px;
    margin-left: 1300px;
    scale: 60%;
    border-radius: 30px;
}
a:hover{
    color: #55D4A3;
    text-decoration: underline;
}
.column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8px;


}
.img1{
    scale: 50%;
    border-radius: 30px;
    margin-top: -200px;
    margin-left: -25px;

}
.img2{
    width: 250px;
    height: 455px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 700px;
}
.img3{
    width: 250px;
    height: 455px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: -1060px;
}
.homeinfo{
    color: whitesmoke;
    font-size: 25px;
    margin-top: 50px;
    max-width: 30ch;



}
strong{
    color: #55D4A3;
    
}
.info{
    display: flex;
    gap: 60px;
}
footer{
    background-color: #55D4A3;
    height: 100px;
    color: whitesmoke;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    width: 95%;
    border-radius: 20px;
    margin-left: 40px;
}
.footerinfo{
    font-size: 15px;
}
.text2{
    margin-left: 250px;
    margin-top: -30px;
    width: 50%;
    color: whitesmoke;
    font-size: 45px;
    font-weight: 700;


}
.diagram{
    border-radius: 20px;
    margin-left: 250px;
    height: 50%;
    width: 35%;
}
.diagram2{
    border-radius: 20px;
    margin-left: 250px;

}
.diagramgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;


}