.links{
    font-size: 10px;
    display: flex;
    gap: 20px;
    color: #55D4A3;

}
body{
    background-color: #0D2448;
}
.logo{
    width: 120px;
    margin-left: 200px;
    
    
}
h1{
    font-size: 70px;
    margin-left: 60px;
    
}
a{
    color: #55D4A3;
}
.text1{
    margin-left: 60px;
    margin-top: -20px;
    width: 60%;
}